<navbar></navbar>
<div class="container-fluid font-brand my-5 w-100">
    <div class="row my-5">
        <div class="col text-center">
            <img src="../../../../../../assets/shared/backgroundTitles/serviceTitle.svg">
        </div>
    </div>
    <div class="row my-5">
        <div class="col py-5">
            <services-list 
                (services)="serviceIdReciver($event)"
            ></services-list>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <services-detail
                [service]="service"
            ></services-detail>
        </div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col my-5 py-5 ps-5 ms-5 h-100" style="font-size: 62px; color: #0F7499; font-weight: 600;">
            ¡Su mascota en buenas manos!
        </div>
    </div>
</div>
<footer></footer>