<div class="container-fluid font-brand h-100" style="user-select: none;">
    <div class="row align-items-center py-2" style="background-color:  #0F7499; color: white;">
        <div class="col-1 pe-0" style="max-width: 100px;">
            <img src="../../../../assets/admin/unionvet.svg">
        </div>
        <div class="col ps-0">
            <span style="font-size: 36px;">Unionvet</span>
        </div>
    </div>
    <div class="row align-items-center justify-content-center m-5 p-5">
        <div class="col-2"></div>
        <div class="col-8">
            <admin-login-form></admin-login-form>
        </div>
        <div class="col-2"></div>
    </div>
</div>