<navbar></navbar>
<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-1"></div>
    <div class="col-10">
      <form>
        <div class="card-header text-center">Escribenos</div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <div class="mb-3 mx-5">
              <label for="name" class="form-label"></label>
              <input
                type="text"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Nombre Completo"
              />
            </div>
            <div class="mb-3 mx-5">
              <label for="email" class="form-label"></label>
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Email"
              />
            </div>
            <div class="mb-3 mx-5">
              <label for="phone" class="form-label"></label>
              <input
                type="number"
                class="form-control"
                id="exampleFormControlInput1"
                placeholder="Teléfono"
              />
            </div>
            <div class="mb-3 mx-5">
              <label for="message" class="form-label"></label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="5"
                placeholder="Ingrese su mensaje aquí"
              ></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="col-6 btn my-3" disabled>Enviar</button>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
      </form>
    </div>
    <div class="col-1"></div>
  </div>
</div>
