<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <mat-card class="w-100 font-brand p-0">
                <mat-card-title class="p-3 ps-5 m-0" style="font-size: 48px; color: white; background-color: #4F96B0;">Datos del paciente</mat-card-title>
                <mat-card-content class="p-3 ps-5 m-0" style="background-color: #A7CAD7; color: white;">
                    <div class="row">
                        <div class="col">
                            <app-create-form-detail></app-create-form-detail>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>