<div class="container-fluid" *ngIf="isAdmin; else isVisitor">
    <div class="row align-items-center my-2" style="font-weight: 600; font-size: 24px; color: #0F7499">
        <div class="col p-0"></div>
        <div class="col p-0">Lunes</div>
        <div class="col p-0">Martes</div>
        <div class="col p-0">Miercoles</div>
        <div class="col p-0">Jueves</div>
        <div class="col p-0">Viernes</div>
    </div>
    <mat-divider></mat-divider>
    <div class="row align-items-center" *ngFor="let time of horasManna">
        <div class="col p-0" style="background-color: rgba(189, 222, 234, 0.4); color: #0F7499; font-weight: 600;">
            <p class="p-2 m-0">
                {{time.hora.inicio|date:'HH:mm'}} - {{time.hora.fin|date:'HH:mm'}}
            </p>
        </div>
        <div class="col p-0" style="border: 1px solid white;"
            [ngClass]="[time.pL.state !== 0 ? 'dateHover': '', time.pL === dateSelected && !dateBottom && time.pL.state !== 0? 'clickedDate': '']"
            (click)="setSelectedDate(time.pL, 'Lunes', time.hora, 'Rocky')"
        >
            <admin-patient-detail [patient]="time.pL"></admin-patient-detail>
        </div>
        <div class="col p-0" style="border: 1px solid white;"
            [ngClass]="[time.pMa.state !== 0 ? 'dateHover': '', time.pMa === dateSelected && !dateBottom && time.pMa.state !== 0? 'clickedDate': '']"
            (click)="setSelectedDate(time.pMa, 'Martes', time.hora, 'Jhonny')"
        >
            <admin-patient-detail [patient]="time.pMa"></admin-patient-detail>
        </div>
        <div class="col p-0" style="border: 1px solid white;"
            [ngClass]="[time.pMi.state !== 0 ? 'dateHover': '', time.pMi === dateSelected && !dateBottom && time.pMi.state !== 0? 'clickedDate': '']"
            (click)="setSelectedDate(time.pMi, 'Miercoles', time.hora, 'Cachupin')"
        >
            <admin-patient-detail [patient]="time.pMi"></admin-patient-detail>
        </div>
        <div class="col p-0" style="border: 1px solid white;"
            [ngClass]="[time.pJ.state !== 0 ? 'dateHover': '', time.pJ === dateSelected && !dateBottom && time.pJ.state !== 0? 'clickedDate': '']"
            (click)="setSelectedDate(time.pJ, 'Jueves', time.hora, 'Lunita')"
        >
            <admin-patient-detail [patient]="time.pJ"></admin-patient-detail>
        </div>
        <div class="col p-0" style="border: 1px solid white;"
            [ngClass]="[time.pV.state !== 0 ? 'dateHover': '', time.pV === dateSelected && !dateBottom && time.pV.state !== 0? 'clickedDate': '']"
            (click)="setSelectedDate(time.pV, 'Viernes', time.hora, 'Flopi')"
        >
            <admin-patient-detail [patient]="time.pV"></admin-patient-detail>
        </div>
        <mat-divider></mat-divider>
    </div>
    <mat-divider></mat-divider>
</div>

<ng-template #isVisitor>
    <div class="container-fluid">
        <div class="row align-items-center my-2" style="font-weight: 600; font-size: 24px; color: #0F7499">
            <div class="col p-0"></div>
            <div class="col p-0">Lunes</div>
            <div class="col p-0">Martes</div>
            <div class="col p-0">Miercoles</div>
            <div class="col p-0">Jueves</div>
            <div class="col p-0">Viernes</div>
        </div>
        <mat-divider></mat-divider>
        <div class="row align-items-center" *ngFor="let time of horasManna">
            <div class="col p-0" style="background-color: rgba(189, 222, 234, 0.4); color: #0F7499; font-weight: 600;">
                <p class="p-2 m-0">
                    {{time.hora.inicio|date:'HH:mm'}} - {{time.hora.fin|date:'HH:mm'}}
                </p>
            </div>
            <div class="col p-0" style="border: 1px solid white;">
                <admin-patient-detail 
                    [patient]="time.pL"
                    [isAdminInput]="false"
                ></admin-patient-detail>
            </div>
            <div class="col p-0" style="border: 1px solid white;">
                <admin-patient-detail 
                    [patient]="time.pMa"
                    [isAdminInput]="false"
                ></admin-patient-detail>
            </div>
            <div class="col p-0" style="border: 1px solid white;">
                <admin-patient-detail 
                    [patient]="time.pMi"
                    [isAdminInput]="false"
                ></admin-patient-detail>
            </div>
            <div class="col p-0" style="border: 1px solid white;" >
                <admin-patient-detail 
                    [patient]="time.pJ"
                    [isAdminInput]="false"
                ></admin-patient-detail>
            </div>
            <div class="col p-0" style="border: 1px solid white;">
                <admin-patient-detail 
                    [patient]="time.pV"
                    [isAdminInput]="false"
                ></admin-patient-detail>
            </div>
            <mat-divider></mat-divider>
        </div>
        <mat-divider></mat-divider>
    </div>
</ng-template>