<div class="card bg-dark text-white bgImg" style="height: 30rem; background-image: url({{url}});">
    <div class="row card-img-overlay align-items-end" style="vertical-align: bottom;">
        <div class="col-1 m-0 p-0"></div>
        <div class="col-10 bg-white text-dark align-items-center justify-content-center">
            <p class="fw-bold p-2">{{title}}</p>
            <p class="card-text p-2 text-break">{{content}}</p>
        </div>
        <div class="col-1 m-0 p-0"></div>
    </div>
</div>