<div class="container-fluid font-brand h-100">
    <div class="row text-center mb-5 pb-5">
        <div class="col pt-5" style="font-size: 48px;">Quienes somos</div>
    </div>
    <div class="row align-items-center my-5 px-5">
        <div class="col text-center h-100" style="font-size: 23px;">
            <p>Integer sit amet nulla maximus metus dictum eleifend. Suspendisse a mattis libero. Mauris maximus eros ac dictum fringilla. Mauris posuere velit fringilla scelerisque malesuada.</p>
            <p>Donec rutrum placerat posuere. Donec ut quam at ante ullamcorper sollicitudin tincidunt porttitor diam. Nam porttitor hendrerit sapien, volutpat fermentum diam porta vitae.</p>
            <p>Integer sit amet nulla maximus metus dictum eleifend.</p>
        </div>
    </div>
</div>