<div class="container-fluid font-brand">
    <div class="row align-items-center justify-content-center">
        <div class="col text-center justify-content-center me-0 pe-0">
            <button disabled
                mat-raised-button 
                matTooltip="Presione sobre el botón obtener más o menos productos" 
                matTooltipPosition="above"
                matTooltipClass="tooltip-red"
                class="py-2" 
                [ngClass]="getScreenSize() <= 875? '': 'btn-lg'"
                style="color: white; background-color: #0f7499"
            >Total de productos: {{number}}</button>
        </div>
        <div class="col pt-4 ms-0 ps-0" [ngClass]="categoryFrmCtrl.value || brandsFrmCtrl.value ? 'pe-0 me-0': ''">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Marcas asociadas</mat-label>
                <mat-select [formControl]="brandsFrmCtrl" #multiplSelect (selectionChange)="selectionChangeBrands($event)" [disabled]="loadingBrands || categoryFrmCtrl.value">
                    <mat-option>
                        <ngx-mat-select-search 
                            [formControl]="brandFrmFilterCtrl"
                            noEntriesFoundLabel="Sin coincidencias"
                            placeholderLabel="Escriba la marca..."
                        ></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let brand of filteredBrands | async" [value]="brand">
                        {{brand}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col pt-4" [ngClass]="categoryFrmCtrl.value || brandsFrmCtrl.value ? 'ps-0 ms-0': ''">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Categoías</mat-label>
                <mat-select [formControl]="categoryFrmCtrl" #multipleSelect (selectionChange)="selectionChange($event)" [disabled]="loadingCategories || brandsFrmCtrl.value">
                    <mat-option>
                        <ngx-mat-select-search 
                            [formControl]="categoryFrmFilterCtrl"
                            noEntriesFoundLabel="Sin coincidencias"
                            placeholderLabel="Escriba la categoría..."
                        ></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                        {{category}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-1" *ngIf="categoryFrmCtrl.value || brandsFrmCtrl.value" [ngClass]="categoryFrmCtrl.value || brandsFrmCtrl.value ? 'pb-3 pe-0 me-0 ms-2': ''">
            <mat-icon 
                style="color: #0f7499; cursor: pointer; font-size: 40px;" 
                matTooltip="Presione sobre el botón para limpiar los filtros" 
                matTooltipPosition="above"
                matTooltipClass="tooltip-red"
                (click)="cleanFilters()" 
            >
                <span class="material-icons-sharp">
                    delete
                </span>
            </mat-icon>
        </div>
    </div>
</div>