<div class="container-fluid mb-4" *ngIf="isAdmin; else isVisitor">
    <mat-divider></mat-divider>
    <div class="row align-items-center" *ngFor="let time of horasTarde">
        <div class="col p-0" style="background-color: rgba(189, 222, 234, 0.4); color: #0F7499; font-weight: 600;">
            <p class="p-2 m-0">
                {{time.hora.inicio|date:'HH:mm'}} - {{time.hora.fin|date:'HH:mm'}}
            </p>
        </div>
        <div class="col p-0" style="border: 1px solid white;"
            [ngClass]="[time.pL.state !== 0 ? 'dateHover': '', time.pL === dateSelected && !dateTop && time.pL.state !== 0? 'clickedDate': '']"
            (click)="setSelectedDate(time.pL, 1, time.hora, time.pL.animal)"
        >
            <admin-patient-detail 
                [patient]="time.pL"
                [isAdminInput]="true"
            ></admin-patient-detail>
        </div>
        <div class="col p-0" style="border: 1px solid white;"
            [ngClass]="[time.pMa.state !== 0 ? 'dateHover': '', time.pMa === dateSelected && !dateTop && time.pMa.state !== 0? 'clickedDate': '']"
            (click)="setSelectedDate(time.pMa, 2, time.hora, time.pMa.animal)"
        >
            <admin-patient-detail 
                [patient]="time.pMa"
                [isAdminInput]="true"
            ></admin-patient-detail>
        </div>
        <div class="col p-0" style="border: 1px solid white;"
            [ngClass]="[time.pMi.state !== 0 ? 'dateHover': '', time.pMi === dateSelected && !dateTop && time.pMi.state !== 0? 'clickedDate': '']"
            (click)="setSelectedDate(time.pMi, 3, time.hora, time.pMi.animal)"
        >
            <admin-patient-detail 
                [patient]="time.pMi"
                [isAdminInput]="true"
            ></admin-patient-detail>
        </div>
        <div class="col p-0" style="border: 1px solid white;"
            [ngClass]="[time.pJ.state !== 0 ? 'dateHover': '', time.pJ === dateSelected && !dateTop && time.pJ.state !== 0? 'clickedDate': '']"
            (click)="setSelectedDate(time.pJ, 4, time.hora, time.pJ.animal)"
        >
            <admin-patient-detail 
                [patient]="time.pJ"
                [isAdminInput]="true"
            ></admin-patient-detail>
        </div>
        <div class="col p-0" style="border: 1px solid white;"
            [ngClass]="[time.pV.state !== 0 ? 'dateHover': '', time.pV === dateSelected && !dateTop && time.pV.state !== 0? 'clickedDate': '']"
            (click)="setSelectedDate(time.pV, 5, time.hora, time.pV.animal)"
        >
            <admin-patient-detail 
                [patient]="time.pV"
                [isAdminInput]="true"
            ></admin-patient-detail>
        </div>
        <mat-divider></mat-divider>
    </div>
    <mat-divider></mat-divider>
</div>

<ng-template #isVisitor>
    <div class="container-fluid">
        <mat-divider></mat-divider>
        <div class="row align-items-center" *ngFor="let time of horasTarde">
            <div class="col p-0" style="background-color: rgba(189, 222, 234, 0.4); color: #0F7499; font-weight: 600;">
                <p class="p-2 m-0">
                    {{time.hora.inicio|date:'HH:mm'}} - {{time.hora.fin|date:'HH:mm'}}
                </p>
            </div>
            <div class="col p-0" style="border: 1px solid white;">
                <admin-patient-detail 
                    [patient]="time.pL"
                    [isAdminInput]="false"
                ></admin-patient-detail>
            </div>
            <div class="col p-0" style="border: 1px solid white;">
                <admin-patient-detail 
                    [patient]="time.pMa"
                    [isAdminInput]="false"
                ></admin-patient-detail>
            </div>
            <div class="col p-0" style="border: 1px solid white;">
                <admin-patient-detail 
                    [patient]="time.pMi"
                    [isAdminInput]="false"
                ></admin-patient-detail>
            </div>
            <div class="col p-0" style="border: 1px solid white;" >
                <admin-patient-detail 
                    [patient]="time.pJ"
                    [isAdminInput]="false"
                ></admin-patient-detail>
            </div>
            <div class="col p-0" style="border: 1px solid white;">
                <admin-patient-detail 
                    [patient]="time.pV"
                    [isAdminInput]="false"
                ></admin-patient-detail>
            </div>
            <mat-divider></mat-divider>
        </div>
        <mat-divider></mat-divider>
    </div>
</ng-template>