<div class="container-fluid">
  <div class="row">
      <div class="col ms-5 p-5">
          <div class="row">
              <div class="col">
                  <mat-form-field appearance="outline" style="width: 100%">
                      <mat-label>Escriba para filtrar...</mat-label>
                      <span matPrefix><mat-icon class="me-4">search</mat-icon> &nbsp;</span>
                      <input matInput (keyup)="onKey($event)" #input>
                  </mat-form-field>
              </div>
              <div class="col-4 pt-3 text-center ps-0" *ngIf="productSelected">
                <button mat-raised-button class="btn-lg me-2">Editar producto</button>
                <button mat-raised-button color="warn" class="btn-lg">Eliminar producto</button>
              </div>
          </div>
          <div class="row">
              <div class="col mat-elevation-z8 p-0">
                  <table mat-table [dataSource]="dataSource" matSort class="w-100">
                      <!-- NAME Column -->
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                      </ng-container>
                      <!-- RUT Column -->
                      <ng-container matColumnDef="brand">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
                        <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
                      </ng-container>
                      <!-- ADDRESS Column -->
                      <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                      </ng-container>
                      <!-- ANIMAL Column -->
                      <ng-container matColumnDef="stock">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
                        <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
                      </ng-container>
                      <!-- OFERTA Column -->
                      <ng-container matColumnDef="sale">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Oferta </th>
                        <td mat-cell *matCellDef="let element"> {{element.sale | sale}} </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr 
                          mat-row 
                          *matRowDef="let element; columns: displayedColumns;" 
                          [ngClass]="element === productSelected? 'clickedClass' : ''"
                          (click)="productSelected = element"
                          style="cursor: pointer;"
                      ></tr>
                  </table>
                  <mat-paginator [pageSizeOptions]="[10, 15, 25, 35]" showFirstLastButtons></mat-paginator>
              </div>
          </div>
      </div>
  </div>
</div>
