<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="15000">
    <div class="row pt-5 mt-5 align-items-center justify-content-center">
        <div class="col-1"></div>
        <div class="col-10 mb-5" *ngIf="getScreenSize() >= 600; else showCarouselPerOneElement" >
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-4  tipCard p-0">
                            <tip-card-detail
                                [url]="tip1.img"
                                [title]="tip1.title"
                                [content]="tip1.content"
                            ></tip-card-detail>
                        </div>
                        <div class="col-1 p-0 m-0"></div>
                        <div class="col-4 tipCard p-0">
                            <tip-card-detail
                                [url]="tip2.img"
                                [title]="tip2.title"
                                [content]="tip2.content"
                            ></tip-card-detail>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-4 tipCard p-0">
                            <tip-card-detail
                                [url]="tip3.img"
                                [title]="tip3.title"
                                [content]="tip3.content"
                            ></tip-card-detail>
                        </div>
                        <div class="col-1 p-0 m-0"></div>
                        <div class="col-4 tipCard p-0">
                            <tip-card-detail
                                [url]="tip1.img"
                                [title]="tip1.title"
                                [content]="tip1.content"
                            ></tip-card-detail>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-4 tipCard p-0">
                            <tip-card-detail
                                [url]="tip3.img"
                                [title]="tip3.title"
                                [content]="tip3.content"
                            ></tip-card-detail>
                        </div>
                        <div class="col-1 p-0 m-0"></div>
                        <div class="col-4 tipCard p-0">
                            <tip-card-detail
                                [url]="tip2.img"
                                [title]="tip2.title"
                                [content]="tip2.content"
                            ></tip-card-detail>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template [ngTemplateOutlet]="indicatorButtonsForTips"></ng-template>
        </div>
        <ng-template #showCarouselPerOneElement>
            <div class="col-10 mb-5">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-10  tipCard p-0">
                                <tip-card-detail
                                    [url]="tip1.img"
                                    [title]="tip1.title"
                                    [content]="tip1.content"
                                ></tip-card-detail>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-10  tipCard p-0">
                                <tip-card-detail
                                    [url]="tip3.img"
                                    [title]="tip3.title"
                                    [content]="tip3.content"
                                ></tip-card-detail>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-10  tipCard p-0">
                                <tip-card-detail
                                    [url]="tip2.img"
                                    [title]="tip2.title"
                                    [content]="tip2.content"
                                ></tip-card-detail>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-10  tipCard p-0">
                                <tip-card-detail
                                    [url]="tip3.img"
                                    [title]="tip3.title"
                                    [content]="tip3.content"
                                ></tip-card-detail>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-10  tipCard p-0">
                                <tip-card-detail
                                    [url]="tip1.img"
                                    [title]="tip1.title"
                                    [content]="tip1.content"
                                ></tip-card-detail>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template [ngTemplateOutlet]="indicatorButtonsForTips"></ng-template>
            </div>
        </ng-template>
        <div class="col-1"></div>
    </div>
</div>

<ng-template #indicatorButtonsForTips>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControl" data-bs-slide="prev">
        <img src="../../../../../../assets/visitor/botones/izq.svg" 
            [ngStyle]="{'heigth': getScreenSize() >= 575 ? '60px' 
                                : getScreenSize() >= 545 && getScreenSize() < 575 ? '40px' : '20px'
                        , 'width': getScreenSize() >= 575 ? '40px' 
                                : getScreenSize() >= 545 && getScreenSize() < 575 ? '20px' : '10px'
                        }"
        >
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControl" data-bs-slide="next">
        <img src="../../../../../../assets/visitor/botones/der.svg" 
            [ngStyle]="{'heigth': getScreenSize() >= 575 ? '60px' 
                                : getScreenSize() >= 545 && getScreenSize() < 575 ? '40px' : '20px'
                        , 'width': getScreenSize() >= 575 ? '40px' 
                                : getScreenSize() >= 545 && getScreenSize() < 575 ? '20px' : '10px'
                        }"
        >
        <span class="visually-hidden">Next</span>
    </button>
</ng-template>