<div class="container-fluid m-3 px-5 py-4 font-brand" style="background: rgba(242, 244, 245, 0.85); border-radius: 20px; max-width: 97.5%; z-index: 9999 !important">
    <div class="row align-items-center justify-content-center">
        <div class="col text-center">
            <ng-template [ngTemplateOutlet]="actionButtons"></ng-template>
        </div>
    </div>
                <div class="col text-center">
                    <admin-top-calendar></admin-top-calendar>
                </div>
</div>
