<div class="container-fluid m-3 px-5 py-4 font-brand" style="background: rgba(242, 244, 245, 0.85); border-radius: 20px; max-width: 97.5%; z-index: 9999 !important"
    [ngClass]="isAdmin? 'p-0 m-0': ''"
>
    <div class="row mb-4" *ngIf="data?.isVisitor">
        <a class="col w-100" href="https://wa.me/56982911498">
            <button mat-flat-button class="bg-success text-white py-3 w-100" href="https://wa.me/56982911498" style="cursor: pointer; font-size: 24px;">
                <i class="fa fa-whatsapp me-3"></i> Si desea solicitar una hora, presione aqui!
            </button>
        </a>
    </div>
    <div class="row align-items-center justify-content-center mb-3">
        <div class="col text-center">
            <ng-template [ngTemplateOutlet]="actionButtons" *ngIf="clicked"></ng-template>
            <ng-template [ngTemplateOutlet]="simbologyButtons" *ngIf="!clicked"></ng-template>
        </div>
    </div>
    <div class="row align-items-center justify-content-center"
        [ngClass]="isAdmin? 'p-0 m-0': ''"
    >
        <div class="container-fluid" style="background: rgba(255, 255, 255, 0.85); border-radius: 20px;">
            <div class="row justify-content-center align-items-center">
                <div class="col text-center">
                    <admin-top-calendar
                        (selectedDateEmitter)="verifySelectedTopDate($event)"
                        [dateBottom]="dateBottomSelected"
                        [isAdmin]="isAdmin"
                    ></admin-top-calendar>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col text-center" style="color: #0F7499; font-weight: 800; font-size: 56px;">
                    ALMUERZO
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col text-center">
                    <admin-bottom-calendar
                        (selectedDateEmitter)="verifySelectedBottomDate($event)"
                        [dateTop]="dateTopSelected"
                        [isAdmin]="isAdmin"
                    ></admin-bottom-calendar>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #actionButtons>
    <div class="row align-items-center justify-content-center">
        <div class="col">
            <button mat-raised-button disabled
                style="background-color: #0F7499; color: white; font-weight: 200; font-family: 'Roboto'; font-size: 20px;"
            >
                {{'Semana: ' + rango}}
            </button>
        </div>
        <div class="col">
            <button mat-raised-button disabled style="background-color: #0F7499; color: white; font-family: 'Roboto'; z-index: 3000 !important; font-size: 22px; font-weight: 300;">Mes: <span style="font-weight: 500;">{{mes}}</span></button>
        </div>
        <div class="col">
            <button mat-raised-button [matMenuTriggerFor]="actionMenu" style="background-color: #0F7499; color: white; font-weight: 400; font-family: 'Roboto'; z-index: 3000 !important; font-size: 22px;">Acciones</button>
        </div>
    </div>
</ng-template>

<mat-menu #actionMenu="matMenu">
    <button mat-menu-item>Editar</button>
    <button mat-menu-item>Eliminar</button>
</mat-menu>

<ng-template #simbologyButtons>
    <div class="row align-items-center justify-content-center">
        <div class="col">
            <button mat-raised-button disabled
                style="background-color: #0F7499; color: white; font-weight: 200; font-family: 'Roboto'; font-size: 20px;"
            >
                {{'Semana: ' + rango}}
            </button>
        </div>
        <div class="col">
            <button mat-raised-button disabled style="background-color: #0F7499; color: white; font-family: 'Roboto'; z-index: 3000 !important; font-size: 22px; font-weight: 300;">Mes: <span style="font-weight: 500;">{{mes}}</span></button>
        </div>
        <div class="col">
            <button mat-raised-button [matMenuTriggerFor]="simbologyMenu" style="background-color: #0F7499; color: white; font-weight: 400; font-family: 'Roboto'; z-index: 3000 !important; font-size: 22px;">Simbología</button>
        </div>
    </div>
</ng-template>

<mat-menu #simbologyMenu="matMenu">
    <button mat-menu-item style="pointer-events: none; user-select: none">
        <mat-icon style="color: rgb(255, 196, 0);">circle</mat-icon> Pendiente
    </button>
    <button mat-menu-item style="pointer-events: none; user-select: none">
        <mat-icon style="color: rgb(1, 102, 1);">circle</mat-icon> Realizada
    </button>
    <button mat-menu-item style="pointer-events: none; user-select: none">
        <mat-icon style="color: rgb(175, 0, 0);">circle</mat-icon> Rechazada
    </button>
</mat-menu>