<div class="container-fluid my-3">
    <div class="row my-3">
        <div class="col my-2">
            <product-card-detail></product-card-detail>
        </div>
        <div class="col my-2">
            <product-card-detail></product-card-detail>
        </div>
        <div class="col my-2">
            <product-card-detail></product-card-detail>
        </div>
    </div>
    <div class="row my-3">
        <div class="col my-2">
            <product-card-detail></product-card-detail>
        </div>
        <div class="col my-2">
            <product-card-detail></product-card-detail>
        </div>
        <div class="col my-2">
            <product-card-detail></product-card-detail>
        </div>
    </div>
</div>