<div class="container-fliud text-white py-5"
    style="background: linear-gradient(90deg, rgba(255, 255, 255, 0) 42.45%, rgba(255, 255, 255, 0.4) 60.76%), #0F7499; opacity: 80%;"
>
    <div class="row align-items-center justify-content-center">
        <h3 class="col-6 text-center">¡Ellos también son parte de nuestro equipo!</h3>
        <div class="col-6 text-center">
            <swiper
                class="align-items-center justify-content-center px-4"
                [slidesPerView]="3"
                [autoplay]="{delay: 5000, disableOnInteraction: false}"
                [loopFillGroupWithBlank]="true"
                [freeMode]="true"
                [loop]="true"
                [grabCursor]="true"
            >
                <ng-template swiperSlide>
                    Marca 1
                </ng-template>
                <ng-template swiperSlide>
                    Marca 2
                </ng-template>
                <ng-template swiperSlide>
                    Marca 3
                </ng-template>
                <ng-template swiperSlide>
                    Marca 4
                </ng-template>
            </swiper>
        </div>
    </div>
</div>

