<div class="container-fluid font-brand">
    <div class="row" [ngClass]="event === 'edit'? 'mb-5': 'mb-3'" style="user-select: none;">
        <div class="col">
            <button 
                mat-flat-button 
                *ngIf="event === 'delete'" 
                class="btn-lg w-100 bg-danger text-white p-2" 
                style="pointer-events: none; font-size: 24px;"
            >¡Proceso de eliminación!</button>
            <button 
                mat-flat-button 
                *ngIf="event === 'edit'" 
                class="btn-lg w-100 text-white p-2" 
                style="pointer-events: none; font-size: 24px; background-color: #0f7499;"
            >¡Proceso de edicion!</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col" style="font-weight: 500;">
            <div mat-dialog-content *ngIf="event === 'delete'">
                Usted esta apunto de eliminar un producto con esta información:
            </div>
            <div mat-dialog-content *ngIf="event === 'edit'">
                Usted esta apunto de editar un producto con esta información:
            </div>
        </div>
    </div>
    <div class="row" [ngClass]="editProductForm.get('state')?.value === 3? '': 'mb-5'">
        <div class="col">
            <div mat-dialog-content>
                <ng-template [ngTemplateOutlet]="productTable" *ngIf="event === 'delete'"></ng-template>
                <ng-template [ngTemplateOutlet]="productTableEditForm" *ngIf="event === 'edit'"></ng-template>
            </div>
        </div>
    </div>
    <div class="row mb-3" style="user-select: none;" *ngIf="editProductForm.get('state')?.value === 3 && !editProductForm.get('motion')?.value">
        <div class="col">
            <button 
                mat-flat-button 
                *ngIf="event === 'edit'" 
                class="btn-lg w-100 bg-danger text-white p-2" 
                style="pointer-events: none; font-size: 24px;"
            >¡El motivo debe contener información!</button>
        </div>
    </div>
    <div class="row" style="user-select: none;">
        <div class="col text-center">
            <strong *ngIf="event === 'delete'">¿Está seguro que desea eliminarlo?</strong>
            <strong *ngIf="event === 'edit'">¿Está seguro que desea actualizar con esta información?</strong>
        </div>
    </div>
    <div class="row" style="user-select: none;">
        <div class="col">
            <div mat-dialog-actions [align]="'end'">
                <button class="btn-lg" mat-raised-button mat-dialog-close cdkFocusInitial>Cancelar</button>
                <mat-spinner color="accent" class="ms-4" *ngIf="isLoading" [diameter]="40"></mat-spinner>
                <button class="btn-lg" mat-raised-button style="background-color: #0F7499; color: white"
                    (click)="updateProduct()"
                    [disabled]="!editProductForm.valid"
                    *ngIf="!isLoading"
                    [ngStyle]="{'background-color': editProductForm.valid? '#0F7499' : 'grey', 'color': editProductForm.valid? 'white': ''}"
                >Actualizar</button>
                <button *ngIf="event === 'delete'"  class="btn-lg bg-danger text-white" mat-raised-button>Eliminar</button>
            </div>
        </div>
    </div>
</div>

<ng-template #productTable>
    <div class="row mb-3">
        <div class="col">
            <strong>Nombre del producto:</strong>
        </div>
        <div class="col">
            {{product?.name}}
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="row mb-3">
        <div class="col">
            <strong>Marca del producto:</strong>
        </div>
        <div class="col">
            {{product?.brand}}
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="row mb-3">
        <div class="col">
            <strong>Descripción:</strong>
        </div>
        <div class="col">
            {{product?.description}}
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="row mb-3">
        <div class="col">
            <strong>Stock:</strong>
        </div>
        <div class="col">
            {{product?.stock}}
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="row">
        <div class="col">
            <strong>¿En oferta?</strong>
        </div>
        <div class="col">
            {{product?.sale | sale}}
        </div>
        <mat-divider></mat-divider>
    </div>
</ng-template>

<ng-template #productTableEditForm>
    <form [formGroup]="editProductForm" novalidate style="user-select: none;">
        <mat-card class="shipping-card">
          <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width" disabled>
                  <mat-label>Nombre del producto</mat-label>
                  <input matInput placeholder="{{editProductForm.get('name')?.value}}" formControlName="name">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width" disabled>
                  <mat-label>Marca del producto</mat-label>
                  <input matInput placeholder="{{editProductForm.get('brand')?.value}}" formControlName="brand">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Descripción</mat-label>
                  <textarea matInput cols="50" rows="10" placeholder="{{editProductForm.get('description')?.value}}" type="text" formControlName="description"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <mat-label>Stock disponible</mat-label>
                  <input matInput type="number" placeholder="{{editProductForm.get('stock')?.value}}" formControlName="stock">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field>
                    <mat-label>¿En oferta?</mat-label>
                    <mat-select formControlName="sale" placeholder="{{editProductForm.get('sale')?.value}}">
                        <mat-option [value]="false">No</mat-option>
                        <mat-option [value]="true">Si</mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>      
</ng-template>