<div class="container-fluid my-5" style="background: rgba(217, 231, 236, 0.5);">
    <div class="row mb-4 align-items-center justify-content-center">
        <div class="col-2"></div>
        <div class="col-8 justify-content-center align-items-center text-center bgImg h-100">
            <div class="text-center fw-bold h-100 mt-4" style="color: #A0CDDD;"
                [ngStyle]="{'font-size': getScreenSize() >= 780 ? '40px' 
                                        : getScreenSize() >= 590 && getScreenSize() < 780 ? '30px' 
                                        : getScreenSize() >= 475 && getScreenSize() < 590 ? '24px'
                                        : getScreenSize() >= 360 && getScreenSize() < 475 ? '18px' : '14px'
                            }"
            >Publicaciones</div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col-1"></div>
        <div class="col-10 mb-5 h-100" *ngIf="getScreenSize() >= 1680; else show2PerCarousel">
            <div id="carouselExampleControl" class="carousel slide" data-bs-ride="carousel" data-bs-interval="30000">
                <div class="carousel-inner h-100">
                    <div class="carousel-item active h-100">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-3 p-0">
                                <publication-card-detail
                                    [url]="url[0]"
                                    [width]="widthForTip"
                                    [heigth]="heigthForTip"
                                ></publication-card-detail>
                            </div>
                            <div class="col-3 p-0">
                                <publication-card-detail
                                    [url]="url[1]"
                                    [width]="widthForTip"
                                    [heigth]="heigthForTip"
                                ></publication-card-detail>
                            </div>
                            <div class="col-3 p-0">
                                <publication-card-detail
                                    [url]="url[2]"
                                    [width]="widthForTip"
                                    [heigth]="heigthForTip"
                                ></publication-card-detail>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-3 p-0">
                                <publication-card-detail
                                    [url]="url[3]"
                                    [width]="widthForTip"
                                    [heigth]="heigthForTip"
                                ></publication-card-detail>
                            </div>
                            <div class="col-3 p-0">
                                <publication-card-detail
                                    [url]="url[4]"
                                    [width]="widthForTip"
                                    [heigth]="heigthForTip"
                                ></publication-card-detail>
                            </div>
                            <div class="col-3 p-0">
                                <publication-card-detail
                                    [url]="url[5]"
                                    [width]="widthForTip"
                                    [heigth]="heigthForTip"
                                ></publication-card-detail>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-3 p-0">
                                <publication-card-detail
                                    [url]="url[6]"
                                    [width]="widthForTip"
                                    [heigth]="heigthForTip"
                                ></publication-card-detail>
                            </div>
                            <div class="col-3 p-0">
                                <publication-card-detail
                                    [url]="url[7]"
                                    [width]="widthForTip"
                                    [heigth]="heigthForTip"
                                ></publication-card-detail>
                            </div>
                            <div class="col-3 p-0">
                                <publication-card-detail
                                    [url]="url[8]"
                                    [width]="widthForTip"
                                    [heigth]="heigthForTip"
                                ></publication-card-detail>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template 
                    *ngIf="getScreenSize() >= 410" 
                    [ngTemplateOutlet]="indicatorButtonsForPublications"
                ></ng-template>
            </div>
        </div>
        <ng-template #show2PerCarousel>
            <ng-container>
                <div class="col-10 mb-5 h-100" *ngIf="getScreenSize() >= 1255; else showOnePerCarousel">
                    <div id="carouselExampleControl" class="carousel slide" data-bs-ride="carousel" data-bs-interval="30000">
                        <div class="carousel-inner h-100">
                            <div class="carousel-item active h-100">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-4 p-0">
                                        <publication-card-detail
                                            [url]="url[0]"
                                            [width]="widthForTip"
                                            [heigth]="heigthForTip"
                                        ></publication-card-detail>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-4 p-0">
                                        <publication-card-detail
                                            [url]="url[1]"
                                            [width]="widthForTip"
                                            [heigth]="heigthForTip"
                                        ></publication-card-detail>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-4 p-0">
                                        <publication-card-detail
                                            [url]="url[3]"
                                            [width]="widthForTip"
                                            [heigth]="heigthForTip"
                                        ></publication-card-detail>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-4 p-0">
                                        <publication-card-detail
                                            [url]="url[4]"
                                            [width]="widthForTip"
                                            [heigth]="heigthForTip"
                                        ></publication-card-detail>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-4 p-0">
                                        <publication-card-detail
                                            [url]="url[6]"
                                            [width]="widthForTip"
                                            [heigth]="heigthForTip"
                                        ></publication-card-detail>
                                    </div>
                                    <div class="col-1"></div>
                                    <div class="col-4 p-0">
                                        <publication-card-detail
                                            [url]="url[7]"
                                            [width]="widthForTip"
                                            [heigth]="heigthForTip"
                                        ></publication-card-detail>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template 
                            *ngIf="getScreenSize() >= 410" 
                            [ngTemplateOutlet]="indicatorButtonsForPublications"
                        ></ng-template>
                    </div>
                </div>
            </ng-container>
            <ng-template #showOnePerCarousel>
                <div class="col-10 mb-5 h-100">
                    <div id="carouselExampleControl" class="carousel slide" data-bs-ride="carousel" data-bs-interval="30000">
                        <div class="carousel-inner h-100">
                            <div class="carousel-item active h-100">
                                <div class="row align-items-center justify-content-center">
                                    <div class="text-center p-0"
                                        [ngClass]="getScreenSize() >= 410? 'col-9' : 'col'"
                                    >
                                        <publication-card-detail
                                            [url]="url[0]"
                                            [width]="widthForTip"
                                            [heigth]="heigthForTip"
                                        ></publication-card-detail>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item h-100">
                                <div class="row align-items-center justify-content-center">
                                    <div class="text-center p-0"
                                        [ngClass]="getScreenSize() >= 410? 'col-9' : 'col'"
                                    >
                                        <publication-card-detail
                                            [url]="url[1]"
                                            [width]="widthForTip"
                                            [heigth]="heigthForTip"
                                        ></publication-card-detail>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item h-100">
                                <div class="row align-items-center justify-content-center">
                                    <div class="text-center p-0"
                                        [ngClass]="getScreenSize() >= 410? 'col-9' : 'col'"
                                    >
                                        <publication-card-detail
                                            [url]="url[2]"
                                            [width]="widthForTip"
                                            [heigth]="heigthForTip"
                                        ></publication-card-detail>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item h-100">
                                <div class="row align-items-center justify-content-center">
                                    <div class="text-center p-0"
                                        [ngClass]="getScreenSize() >= 410? 'col-9' : 'col'"
                                    >
                                        <publication-card-detail
                                            [url]="url[3]"
                                            [width]="widthForTip"
                                            [heigth]="heigthForTip"
                                        ></publication-card-detail>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item h-100">
                                <div class="row align-items-center justify-content-center">
                                    <div class="text-center p-0"
                                        [ngClass]="getScreenSize() >= 410? 'col-9' : 'col'"
                                    >
                                        <publication-card-detail
                                            [url]="url[4]"
                                            [width]="widthForTip"
                                            [heigth]="heigthForTip"
                                        ></publication-card-detail>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template 
                            *ngIf="getScreenSize() >= 410" 
                            [ngTemplateOutlet]="indicatorButtonsForPublications"
                        ></ng-template>
                    </div>
                </div>
            </ng-template>
        </ng-template>
        <div class="col-1"></div>
    </div>
</div>

<ng-template #indicatorButtonsForPublications>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControl" data-bs-slide="prev">
        <img src="../../../../../../assets/visitor/botones/izq.svg" 
            [ngStyle]="{'heigth': getScreenSize() >= 710 ? '60px' : '20px', 'width': getScreenSize() >= 710 ? '40px' : '10px'}"
        >
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControl" data-bs-slide="next">
        <img src="../../../../../../assets/visitor/botones/der.svg" 
            [ngStyle]="{'heigth': getScreenSize() >= 710 ? '60px' : '20px', 'width': getScreenSize() >= 710 ? '40px' : '10px'}"
        >
        <span class="visually-hidden">Next</span>
    </button>
</ng-template>