<div class="container-fluid mb-5" style="z-index: 1000;">
    <div class="row align-items-center justify-content-center">
        <div class="text-center" [ngClass]="[getScreenSize() > 1440 ? 'col-5' : 'col-6']">
            <admin-products-list></admin-products-list>
        </div>
        <div class="col-6 text-center px-5">
            <div class="row align-items-center p-4">
                <admin-week-dates></admin-week-dates>
            </div>
            <div class="row align-items-center p-4">
                <admin-week-sells></admin-week-sells>
            </div>
        </div>
    </div>
</div>