<navbar></navbar>
<div class="container-fluid font-brand" style="user-select: none;">
    <div class="row align-items-center justify-content-center">
        <div class="col text-center p-0 d-none d-sm-block">
            <landing-header></landing-header>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col text-center p-3 m-5">
            <images-carousel></images-carousel>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col text-center">
            <tips-list></tips-list>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row my-5">
        <div class="col-2"></div>
        <div class="col-8 text-center my-5 fw-bold" style="color: #0F7499;"
            [ngStyle]="{'font-size': getScreenSize() >= 700? '60px': 
                                    getScreenSize() < 700 && getScreenSize() >= 470? '40px' : '30px'}"
        >Proximamente con más información para ustedes!</div>
        <div class="col-2"></div>
    </div>
    <!-- <div class="row align-items-center justify-content-center">
        <div class="col text-center">
            <visitor-aboutus></visitor-aboutus>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col text-center">
            Marcas
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col text-center">
            Publicaciones
        </div>
    </div> -->
</div>
<footer></footer>
<scroll-top-button></scroll-top-button>