<navbar></navbar>
<div class="container-fluid font-brand" style="user-select: none; background-image: url('../../../../../../assets/shared/Camino\ patitas.svg');">
    <div class="row align-items-center justify-content-center">
        <div class="col text-center p-0 d-none d-sm-block">
            <landing-header></landing-header>
        </div>
    </div>
    <div class="row align-items-center justify-content-center" *ngIf="getScreenSize() >= 670">
        <div class="col text-center p-3 m-5">
            <images-carousel></images-carousel>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col text-center">
            <tips-list
                [tips]="tips"
            ></tips-list>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col text-center" [ngClass]="getScreenSize() >= 385? 'px-5' : ''">
            <visitor-aboutus></visitor-aboutus>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col text-center py-5 my-5">
            <visitor-brands-list></visitor-brands-list>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col text-center px-5" style="border-radius: 4px;">
            <visitor-publications-list></visitor-publications-list>
        </div>
    </div>
</div>
<footer></footer>
<scroll-top-button></scroll-top-button>