<navbar></navbar>
<div class="container-fluid font-brand" style="user-select: none;">
    <div class="row align-items-center justify-content-center">
        <div class="col text-center p-0">
            <landing-header></landing-header>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col text-center p-3 m-5">
            <images-carousel></images-carousel>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col text-center">
            <tips-list></tips-list>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col text-center">
            Quienes somos
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col text-center">
            Marcas
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col text-center">
            Publicaciones
        </div>
    </div>
</div>
<footer></footer>
<scroll-top-button></scroll-top-button>