<navbar></navbar>
<div class="container-fluid font-brand my-5">
    <div class="row justify-content-center align-items-center">
        <div class="col text-center fw-bold" style="font-size: 48px; color: #0f7499">
            Contáctanos
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col text-center">
            <visitor-contact-form></visitor-contact-form>
        </div>
        <div class="col text-center">
            <div class="row justify-content-center align-items-center">
                <div class="col text-center">
                    Horarios de atencion
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col text-center">Telefono</div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col text-center">
            Mapa
        </div>
    </div>
</div>
<footer></footer>