<div class="row align-items-center justify-content-center my-5 mx-2 text-white" style="background-color: #0F7499; border-radius: 20px;">
    <div class="col mb-5 p-0">
        <div class="row mt-4 mb-3">
            <div class="col" 
                [ngClass]="[getScreenSize() > 1350 ? 'ms-4' :
                            getScreenSize() <= 1350 && getScreenSize() > 1115 ? 'ms-3' : 'ms-2'
                            ]"
                [ngStyle]="{'font-size': getScreenSize() > 1575 ? '40px':
                                        getScreenSize() <= 1575 && getScreenSize() > 1280 ? '34px' : '28px'
                            }"
            >
                Insumos
            </div>
        </div>
        <div class="smallLine"></div>
        <div class="row">
            <div class="col my-3" style="font-weight: 200;"
                [ngClass]="[getScreenSize() > 1350 ? 'ms-4' :
                            getScreenSize() <= 1350 && getScreenSize() > 1115 ? 'ms-3' : 'ms-2'
                            ]"
            >
                Resultado ({{length}})
            </div>
        </div>
        <div class="smallLine"></div>
        <ng-template [ngTemplateOutlet]="filters"></ng-template>
    </div>
</div>

<ng-template #filters>
    <div class="row font-brand">
        <div class="col mt-2">
            <mat-accordion style="background-color: #0F7499; color: white;">
                <mat-expansion-panel [expanded]="true" style="background-color: #0F7499; color: white; border: none">
                    <mat-expansion-panel-header style="background-color: #0F7499; color: white;">
                        <mat-panel-title  class="font-brand" style="background-color: #0F7499; color: white;"
                            [ngStyle]="{'font-size': getScreenSize() > 1215 ? '18px' : '14px'}"
                        >
                            Categoría
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    <ng-template matExpansionPanelContent>
                        <section 
                            class="example-section font-brand ms-3"
                            *ngFor="let category of categories"
                            [formGroup]="categoriesForm"
                        >
                            <mat-checkbox 
                                class="example-margin text-white p-0 m-0" 
                                [formControlName]="category.name.toLowerCase()"
                            >{{category.name}} ({{category.length}})</mat-checkbox>
                        </section>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="row font-brand">
        <div class="col mt-2">
            <mat-accordion style="background-color: #0F7499; color: white;">
                <mat-expansion-panel style="background-color: #0F7499; color: white; border: none">
                    <mat-expansion-panel-header style="background-color: #0F7499; color: white;">
                        <mat-panel-title  class="font-brand" style="background-color: #0F7499; color: white;"
                            [ngStyle]="{'font-size': getScreenSize() > 1215 ? '18px' : '14px'}"
                        >
                            Marca
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    <ng-template matExpansionPanelContent>
                        <section 
                            class="example-section font-brand ms-3"
                            *ngFor="let brand of brands"
                            [formGroup]="brandsForm"
                        >
                            <mat-checkbox 
                                *ngIf="brand.name !== 'Frontline Labs'; else isFrontLine" 
                                class="example-margin text-white p-0 m-0" 
                                [formControlName]="brand.name.toLowerCase()"
                            >{{brand.name}} ({{brand.length}})</mat-checkbox>
                            <ng-template #isFrontLine>
                                <mat-checkbox 
                                    class="example-margin text-white p-0 m-0" 
                                    [formControlName]="'frontline_labs'"
                                >{{brand.name}} ({{brand.length}})</mat-checkbox>
                            </ng-template>
                        </section>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="row font-brand">
        <div class="col mt-2">
            <mat-accordion style="background-color: #0F7499; color: white;">
                <mat-expansion-panel style="background-color: #0F7499; color: white; border: none">
                    <mat-expansion-panel-header style="background-color: #0F7499; color: white;">
                        <mat-panel-title  class="font-brand" style="background-color: #0F7499; color: white;"
                            [ngStyle]="{'font-size': getScreenSize() > 1215 ? '18px' : '14px'}"
                        >
                            Valoracion
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    <ng-template matExpansionPanelContent>
                        <section 
                            class="example-section font-brand ms-3"
                            *ngFor="let valoration of valorations"
                            [formGroup]="valorationsForm"
                        >
                            <mat-checkbox 
                                class="example-margin text-white p-0 m-0" 
                                [formControlName]="valoration"
                            >{{valoration}}</mat-checkbox>
                        </section>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</ng-template>