<div class="container-fluid font-brand">
    <div class="row" [ngClass]="event === 'edit'? 'mb-5': 'mb-3'" style="user-select: none;">
        <div class="col">
            <button
                mat-flat-button
                *ngIf="event === 'delete'"
                class="btn-lg w-100 bg-danger text-white p-2"
                style="pointer-events: none; font-size: 24px;"
            >¡Proceso de eliminación!</button>
            <button
                mat-flat-button
                *ngIf="event === 'edit'"
                class="btn-lg w-100 text-white p-2"
                style="pointer-events: none; font-size: 24px; background-color: #0f7499;"
            >¡Proceso de edicion!</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col" style="font-weight: 500;">
            <div mat-dialog-content *ngIf="event === 'delete'">
                Usted esta apunto de eliminar un tip con esta información:
            </div>
            <div mat-dialog-content *ngIf="event === 'edit'">
                Usted esta apunto de editar un tip con esta información:
            </div>
        </div>
    </div>
    <div class="row" [ngClass]="editTipForm.get('state')?.value === 3? '': 'mb-5'">
        <div class="col">
            <div mat-dialog-content>
                <ng-template [ngTemplateOutlet]="dateTable" *ngIf="event === 'delete'"></ng-template>
                <ng-template [ngTemplateOutlet]="dateTableEditForm" *ngIf="event === 'edit'"></ng-template>
            </div>
        </div>
    </div>
    <div class="row mb-3" style="user-select: none;" *ngIf="editTipForm.get('state')?.value === 3 && !editTipForm.get('motion')?.value">
        <div class="col">
            <button
                mat-flat-button
                *ngIf="event === 'edit'"
                class="btn-lg w-100 bg-danger text-white p-2"
                style="pointer-events: none; font-size: 24px;"
            >¡El motivo debe contener información!</button>
        </div>
    </div>
    <div class="row" style="user-select: none;">
        <div class="col text-center">
            <strong *ngIf="event === 'delete'">¿Está seguro que desea eliminarlo?</strong>
            <strong *ngIf="event === 'edit'">¿Está seguro que desea actualizar con esta información?</strong>
        </div>
    </div>
    <div class="row" style="user-select: none;">
        <div class="col">
            <div mat-dialog-actions [align]="'end'">
                <button class="btn-lg" mat-raised-button mat-dialog-close cdkFocusInitial>Cancelar</button>
                <mat-spinner color="accent" class="ms-4" *ngIf="isLoading" [diameter]="40"></mat-spinner>
                <button class="btn-lg" mat-raised-button style="background-color: #0F7499; color: white"
                    *ngIf="event === 'edit' && editTipForm.get('state')?.value !== 3 && !isLoading"
                    (click)="updateTip(false)"
                    [disabled]="!editTipForm.valid"
                    [ngStyle]="{'background-color': editTipForm.valid? '#0F7499' : 'grey', 'color': editTipForm.valid? 'white': ''}"
                >Continuar</button>
                <button class="btn-lg" mat-raised-button style="background-color: #0F7499; color: white"
                    *ngIf="event === 'edit' && editTipForm.get('state')?.value === 3 && !isLoading"
                    (click)="updateTip(true)"
                    [disabled]="!editTipForm.get('motion')?.value"
                    [ngStyle]="{'background-color': editTipForm.get('motion')?.value? '#0F7499' : 'grey', 'color': editTipForm.get('motion')?.value? 'white': ''}"
                >Continuar</button>
                <button *ngIf="event === 'delete'"  class="btn-lg bg-danger text-white" mat-raised-button>Eliminar</button>
            </div>
        </div>
    </div>
</div>

<ng-template #dateTable>
    <div class="row mb-3">
        <div class="col">
            <strong>Título:</strong>
        </div>
        <div class="col">
            {{date.title}}
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="row mb-3">
        <div class="col">
            <strong>Contenido:</strong>
        </div>
        <div class="col">
            {{date.content}}
        </div>
        <mat-divider></mat-divider>
    </div>
    <div class="row mb-3">
        <div class="col">
            <strong>URL imagen:</strong>
        </div>
        <div class="col">
            {{date.imageUrl}}
        </div>
        <mat-divider></mat-divider>
    </div>
</ng-template>

<ng-template #dateTableEditForm>
    <form [formGroup]="editTipForm" novalidate style="user-select: none;">
        <mat-card class="shipping-card">
          <mat-card-content>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width" disabled>
                  <mat-label>Título</mat-label>
                  <input matInput placeholder="{{editTipForm.get('title')?.value}}" formControlName="title">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width" disabled>
                  <mat-label>URL imagen</mat-label>
                  <input matInput placeholder="{{editTipForm.get('imageUrl')?.value}}" formControlName="imageUrl">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Contenido</mat-label>
                  <textarea matInput cols="50" rows="10" placeholder="{{editTipForm.get('content')?.value}}" type="text" formControlName="content"></textarea>
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
</ng-template>
