<div [ngSwitch]="patient.state">
    <div *ngSwitchCase="0">
        <div class="col p-2" style="color: #0F7499;">
            Disponible
        </div>
    </div>
    <div *ngSwitchCase="1">
        <div class="col p-2 text-white" style="background: rgba(255, 153, 0, 0.7);">
            {{patient.fullName}}
        </div>
    </div>
    <div *ngSwitchCase="2">
        <div class="col p-2 text-white bg-success">
            {{patient.fullName}}
        </div>
    </div>
    <div *ngSwitchCase="3">
        <div class="col p-2 text-white" style="background: rgba(247, 36, 36, 0.7);">
            {{patient.fullName}}
        </div>
    </div>
</div>