<div [ngSwitch]="patient.state" style="user-select: none;">
    <div *ngSwitchCase="0">
        <div class="col p-2" style="color: #0F7499; font-weight: 500;">
            Disponible
        </div>
    </div>
    <div *ngSwitchCase="1">
        <div class="col p-2 text-white" style="background: rgba(255, 153, 0, 0.7); font-weight: 500;"
            [ngStyle]="{'font-size': patient.fullName.length > 18? '12px': '14px', 'cursor': !isAdminInput? '': 'pointer'}"
        >
            <span *ngIf="!isAdminInput; else isAdmin">
                Pendiente
            </span>
            <ng-template #isAdmin>
                {{patient.fullName}}
            </ng-template>
        </div>
    </div>
    <div *ngSwitchCase="2">
        <div class="col p-2 text-white" style="background: rgba(43, 131, 11, 0.787); font-weight: 500;"
            [ngStyle]="{'font-size': patient.fullName.length > 18? '12px': '14px', 'cursor': !isAdminInput? '': 'pointer'}"
        >
            <span *ngIf="!isAdminInput; else isAdmin">
                Realizada
            </span>
            <ng-template #isAdmin>
                {{patient.fullName}}
            </ng-template>
        </div>
    </div>
    <div *ngSwitchCase="3">
        <div class="col p-2 text-white" style="background: rgba(247, 36, 36, 0.7); font-weight: 500; cursor: pointer;"
            [ngStyle]="{'font-size': patient.fullName.length > 18? '12px': '14px', 'cursor': !isAdminInput? '': 'pointer'}"
        >
            <span *ngIf="!isAdminInput; else isAdmin">
                Cancelada
            </span>
            <ng-template #isAdmin>
                {{patient.fullName}}
            </ng-template>
        </div>
    </div>
</div>