<div class="container-fluid font-brand">
    <div class="row mb-3">
        <div class="col fw-bold">
            <h4>Escriba su link aquí</h4>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Ingrese su link aquí..." type="url" [(ngModel)]="link">
                <button *ngIf="link?.length" matSuffix mat-icon-button aria-label="Clear" (click)="link = ''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button *ngIf="!link?.length" mat-button disabled class="w-100 bg-danger text-white">Es necesario un link para poder enviar el formulario</button>
        </div>
    </div>
    <mat-dialog-actions align="end">
        <button mat-raised-button class="btn-lg" mat-dialog-close>Cancelar</button>
        <button *ngIf="!isLoading"  mat-raised-button class="btn-lg" style="color: white; background-color: #0f7499;" (click)="uploadLink()" cdkFocusInitial>Subir</button>
        <mat-spinner color="accent" class="ms-4" *ngIf="isLoading" [diameter]="40"></mat-spinner>
    </mat-dialog-actions>
</div>