<navbar></navbar>
<div class="container-fluid font-brand">
    <div class="row my-5 justify-content-center">
        <div class="col text-center">
            <img *ngIf="getScreenSize() >= 630" src="../../../../../../assets/shared/backgroundTitles/productsTitle.svg">
            <img *ngIf="getScreenSize() < 630 && getScreenSize() >= 430" src="../../../../../../assets/shared/backgroundTitles/productsTitle.svg" width="400">
            <img *ngIf="getScreenSize() < 430" src="../../../../../../assets/shared/backgroundTitles/productsTitle.svg" width="300">
        </div>
    </div>
    <div class="row my-3 align-items-center">
        <div class="col">
            <app-filters-inline
                [number]="products.length"
                [categories]="categories"
                [brands]="brands"
                (brandsSelected)="brandsReciver($event)"
                (categoriesSelected)="categoriesReciver($event)"
                (cleanData)="cleanReciver($event)"
                [brandSelected]="eventBrands"
                [categorySelected]="eventCategories"
            ></app-filters-inline>
        </div>
    </div>
    <div class="row" *ngIf="showAlertCategories || showAlertBrands">
        <div class="col">
            <button disabled mat-button class="btn-lg w-100 bg-danger text-white">
                No se encontraron coincidencias
            </button>
        </div>
    </div>
    <!-- <div class="row justify-content-center h-100 mt-3" *ngIf="getScreenSize() < 1100">
        <div class="col">
            <ng-template [ngTemplateOutlet]="filtersInLine"></ng-template>
        </div>
    </div> -->
    <div class="row justify-content-center h-100">
        <!-- <div class="col-2" *ngIf="getScreenSize() >= 1100">
            <products-side-filters
                [length]="length"
                [categories]="lengthOfCategories"
                [brands]="lengthOfBrands"
            ></products-side-filters>
        </div> -->
        <!-- <div [ngClass]="[getScreenSize() >= 1100 ? 'col-10' : 'col-12']"> -->
        <div class="col-12">
            <product-card 
                [products]="products"
            ></product-card>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center">
            <ng-template [ngTemplateOutlet]="pagination"></ng-template>
        </div>
    </div>
</div>
<footer></footer>
<scroll-top-button></scroll-top-button>

<ng-template #filtersInLine>
    <!-- <div class="row">
        <div class="my-1"
            [ngClass]="[getScreenSize() >= 485 ? 'col' : 'col-12']"
        >
            <mat-accordion style="background-color: #0F7499; color: white;">
                <mat-expansion-panel style="background-color: #0F7499; color: white; border: none">
                    <mat-expansion-panel-header style="background-color: #0F7499; color: white;">
                        <mat-panel-title  class="font-brand" style="background-color: #0F7499; color: white;"
                            [ngStyle]="{'font-size': getScreenSize() > 1215 ? '18px' : '14px'}"
                        >
                            Categoría
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    <ng-template matExpansionPanelContent>
                        <input type="text" class="form-control font-brand mb-3" placeholder="Buscar categoría..." aria-label="Username" aria-describedby="basic-addon1">
                        <mat-selection-list 
                            class="example-section font-brand ms-3"
                            *ngFor="let category of lengthOfCategories"
                            [multiple]="true" 
                        >
                            <mat-list-option 
                                class="example-margin text-white p-0 m-0" 
                                [value]="category.name.toLowerCase()" 
                            >{{category.name}} ({{category.length}})</mat-list-option>
                        </mat-selection-list>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="my-1"
            [ngClass]="[getScreenSize() >= 485 ? 'col' : 'col-12']"
        >
            <mat-accordion style="background-color: #0F7499; color: white;">
                <mat-expansion-panel style="background-color: #0F7499; color: white; border: none">
                    <mat-expansion-panel-header style="background-color: #0F7499; color: white;">
                        <mat-panel-title  class="font-brand" style="background-color: #0F7499; color: white;"
                            [ngStyle]="{'font-size': getScreenSize() > 1215 ? '18px' : '14px'}"
                        >
                            Marca
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    <ng-template matExpansionPanelContent>
                        <input type="text" class="form-control font-brand mb-3" placeholder="Buscar marca..." aria-label="Username" aria-describedby="basic-addon1">
                        <mat-selection-list 
                            class="example-section font-brand ms-3"
                            *ngFor="let brand of lengthOfBrands"
                            [multiple]="true" 
                        >
                            <mat-list-option 
                                class="example-margin text-white p-0 m-0" 
                                [value]="brand.name.toLowerCase()" 
                            >{{brand.name}} ({{brand.length}})</mat-list-option>
                        </mat-selection-list>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="my-1"
            [ngClass]="[getScreenSize() >= 485 ? 'col' : 'col-12']"
        >
            <mat-accordion style="background-color: #0F7499; color: white;">
                <mat-expansion-panel style="background-color: #0F7499; color: white; border: none">
                    <mat-expansion-panel-header style="background-color: #0F7499; color: white;">
                        <mat-panel-title  class="font-brand" style="background-color: #0F7499; color: white;"
                            [ngStyle]="{'font-size': getScreenSize() > 1215 ? '18px' : '14px'}"
                        >
                            Valoracion
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    
                    <ng-template matExpansionPanelContent>
                        <input type="text" class="form-control font-brand mb-3" placeholder="Buscar por valoración..." aria-label="Username" aria-describedby="basic-addon1">
                        <section class="example-section font-brand ms-3">
                            <div class="row">
                                <div class="col">
                                    <mat-checkbox class="example-margin" value="shampoo">5</mat-checkbox>
                                </div>
                                <div class="col">
                                    <mat-checkbox class="example-margin" value="shampoo">4</mat-checkbox>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-checkbox class="example-margin" value="shampoo">3</mat-checkbox>
                                </div>
                                <div class="col">
                                    <mat-checkbox class="example-margin" value="shampoo">2</mat-checkbox>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-checkbox class="example-margin" value="shampoo">1</mat-checkbox>
                                </div>
                            </div>
                        </section>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div> -->
</ng-template>

<ng-template #pagination>
    <nav aria-label="Page navigation example" *ngIf="getScreenSize() >= 520; else showSmall">
        <ul class="pagination justify-content-center" [ngClass]="getScreenSize() <= 855? '' : 'pagination-lg'">
            <li class="page-item disabled">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" [ngClass]="pageSelected === page? 'active': ''" *ngFor="let page of totalPages" aria-current="page" style="cursor: pointer;">
                <a class="page-link" (click)="goToPage(page)">{{page}}</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <ng-template #showSmall>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Página</mat-label>
            <mat-select>
              <mat-option *ngFor="let page of totalPages" [value]="page" (click)="goToPage(page)">
                {{page}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </ng-template>
</ng-template>