<div class="row mx-5 px-5">
    <div class="col-9">
        <div class="row">
            <div class="col" style="color: #0F7499; font-size: 48px; font-weight: 500;">{{service?.name}}</div>
        </div>
        <div class="row mt-4 mb-5">
            <div class="col">
                <img src="../../../../../../assets/visitor/serviceImages/conejo.svg" class="img">
            </div>
        </div>
        <div class="row" style="font-size: 18px;">
            <div class="col pe-5" style="text-align: justify;">
                <p>{{paragraph[0]}}</p>
                <p>{{paragraph[1]}}</p>
            </div>
            <div class="col pe-5" style="text-align: justify;">
                <p>{{paragraph[2]}}</p>
            </div>
        </div>
    </div>
    <div class="col-3 text-center align-items-center">
        <div class="row h-25"></div>
        <div class="row align-items-center justify-content-center h-50">
            <div class="row py-5 align-items-center justify-content-center">
                <div class="col">Imagen 1</div>
            </div>
            <div class="row py-5 align-items-center justify-content-center">
                <div class="col">Imagen 2</div>
            </div>
            <div class="row py-5 align-items-center justify-content-center">
                <div class="col">Imagen 3</div>
            </div>
        </div>
        <div class="row h-25"></div>
    </div>
</div>