<div class="row mx-5" [ngClass]="getScreenSize() > 630 ? 'px-5' : ''">
    <div [ngClass]="getScreenSize() > 1620 ? 'col-9 pe-5' : 'col-12'">
        <div class="row">
            <div class="col" style="color: #0F7499; font-weight: 500;"
                [ngStyle]="{'font-size': 
                            getScreenSize() > 610 ? '48px' : 
                            getScreenSize() > 550 && getScreenSize() <= 610 ? '36px' :
                            getScreenSize() > 470 && getScreenSize() <= 550 ? '28px' : '22px'
                            }"
            >{{service?.name}}</div>
        </div>
        <div class="row mt-4 mb-5">
            <div class="col">
                <img [src]="imgURL" class="img"
                    *ngIf="getScreenSize() > 1200"
                >
                <img [src]="imgURL" class="img"
                    [width]="700"
                    *ngIf="getScreenSize() <= 1200 && getScreenSize() > 890"
                >
                <img [src]="imgURL" class="img"
                    [width]="400"
                    *ngIf="getScreenSize() <= 890 && getScreenSize() > 510"
                >
                <img [src]="imgURL" class="img"
                    [width]="300"
                    *ngIf="getScreenSize() <= 510 && getScreenSize() > 420"
                >
                <img [src]="imgURL" class="img"
                    [width]="200"
                    *ngIf="getScreenSize() <= 420 && getScreenSize() > 320"
                >
            </div>
        </div>
        <div [ngSwitch]="paragraph.length">
            <div *ngSwitchCase="3">
                <div class="row" style="font-size: 18px;" *ngIf="getScreenSize() > 1100; else showInOnePh">
                    <div class="col pe-5" style="text-align: justify;">
                        <p>{{paragraph[0]}}</p>
                        <p>{{paragraph[1]}}</p>
                    </div>
                    <div class="col pe-5" style="text-align: justify;">
                        <p>{{paragraph[2]}}</p>
                    </div>
                </div>
                <ng-template #showInOnePh>
                    <div class="row" style="font-size: 18px;">
                        <div class="col" style="text-align: justify;">
                            <p>{{paragraph[0]}}</p>
                            <p>{{paragraph[1]}}</p>
                            <p>{{paragraph[2]}}</p>
                        </div>
                    </div>
                </ng-template>
            </div>
            <div *ngSwitchDefault>
                <div class="row" style="font-size: 18px;">
                    <div class="col pe-5" style="text-align: justify;">
                        <p>{{paragraph[0]}}</p>
                        <p>{{paragraph[1]}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center pt-5 pb-0 mb-0" *ngIf="getScreenSize() > 1535; else showTwo">
        <div class="col">
            <img [src]="imgURL2" class="smallImg">
        </div>
        <div class="col">
            <img [src]="imgURL3" class="smallImg">
        </div>
        <div class="col">
            <img [src]="imgURL4" class="smallImg">
        </div>
    </div>
    <ng-template #showTwo>
        <div class="row align-items-center justify-content-center pt-5 pb-0 mb-0" *ngIf="getScreenSize() > 1125; else showOne">
            <div class="col">
                <img [src]="imgURL2" class="smallImg">
            </div>
            <div class="col">
                <img [src]="imgURL3" class="smallImg">
            </div>
        </div>
    </ng-template>
    <ng-template #showOne>
        <div class="row align-items-center justify-content-center pt-5 pb-0 mb-0">
            <div class="col text-center">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img [src]="imgURL2" class="d-none d-sm-block smallImg">
                        </div>
                        <div class="carousel-item">
                            <img [src]="imgURL3" class="d-none d-sm-block smallImg">
                        </div>
                        <div class="carousel-item">
                            <img [src]="imgURL4" class="d-none d-sm-block smallImg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>