<div class="container-fluid my-5">
    <div class="row align-items-center">
        <div class="col fw-bold" style="color: #0F7499; font-size: 40px">¡Ellos también son parte de nuestro equipo!</div>
        <div class="col">
            <div class="row my-2">
                <div class="col">Marca 1</div>
                <div class="col">Marca 2</div>
            </div>
            <div class="row my-2">
                <div class="col">Marca 3</div>
                <div class="col">Marca 4</div>
                <div class="col">Marca 5</div>
            </div>
            <div class="row my-2">
                <div class="col">MArca 6</div>
                <div class="col">MArca 7</div>
            </div>
        </div>
    </div>
</div>