<div class="container-fluid my-5 py-5">
    <div class="row align-items-center">
        <div class="col fw-bold" style="color: #0F7499; font-size: 40px">¡Ellos también son parte de nuestro equipo!</div>
        <div class="col">
            <div class="row my-2">
                <div class="col">
                    <img src="../../../../../../assets/shared/delipetLogo.svg" height="200px" width="300px">
                </div>
                <div class="col">
                    <img src="../../../../../../assets/shared/drogueriaLogo.svg" height="200px" width="300px">
                </div>
            </div>
            <div class="row my-2">
                <div class="col">
                    <img src="../../../../../../assets/shared/happyCatLogo.png" height="200px" width="500px">
                </div>
            </div>
        </div>
    </div>
</div>