<form [formGroup]="createDateForm" novalidate>
    <mat-card class="shipping-card mb-0" style="background: none; border: none; box-shadow: none;">
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Nombre completo" formControlName="fullName">
              <mat-error *ngIf="createDateForm.controls['fullName'].hasError('required')">
                <strong>Nombre completo requerido!</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Rut" formControlName="RUT">
              <mat-error *ngIf="createDateForm.controls['RUT'].hasError('required')">
                <strong>Rut requerido!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Región" formControlName="region">
                <mat-option *ngFor="let region of regiones" [value]="region" (click)="setRegionSelected(region)">
                  {{ region }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createDateForm.controls['commune'].hasError('required')">
                State is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
                <mat-select placeholder="Comuna" formControlName="commune">
                    <mat-option *ngFor="let commune of communes" [value]="commune">
                    {{ commune }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="createDateForm.controls['commune'].hasError('required')">
                    State is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                  <mat-label>Dirección</mat-label>
                <input matInput type="text" placeholder="Calle, numero" formControlName="address">
                <mat-error *ngIf="createDateForm.controls['address'].hasError('required')">
                  Address is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                  <mat-label>Correo electrónico</mat-label>
                <input matInput type="email" placeholder="ejemplo@gmail.com" formControlName="email">
                <mat-error *ngIf="createDateForm.controls['email'].hasError('required')">
                  <strong>Correo electrónico requerido!</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Teléfono</mat-label>
                <span matPrefix class="me-2">+56</span>
                <input type="tel" matInput placeholder="9XXXXXXXX" formControlName="phone">
                <mat-error *ngIf="createDateForm.controls['phone'].hasError('required')">
                  <strong>Teléfono requerido!</strong>
                </mat-error>
              </mat-form-field>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Seleccione una fecha</mat-label>
              <input matInput [matDatepicker]="picker" [matDatepickerFilter]="myFilter" formControlName="day">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="createDateForm.controls['day'].hasError('required')">
                  <strong>Seleccione una fecha valida!</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <mat-select placeholder="Bloque" formControlName="block">
                  <mat-option *ngFor="let block of blocks" [value]="block">
                  {{ block }}
                  </mat-option>
              </mat-select>
              <mat-error *ngIf="createDateForm.controls['block'].hasError('required')">
                  <strong>Seleccione un bloque!</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="m-0 p-0 text-end">
        <button mat-raised-button class="btn-lg btn-secundary me-3" (click)="cleanForm()">Cancelar</button>
        <button mat-raised-button class="btn-lg" style="color: white; background-color: #0f7499;" (click)="onSubmit()">Agendar</button>
    </mat-card-actions>
    </mat-card>
  </form>