<div class="custom-container">
    <mat-toolbar  class="container-toolbar" style="background-color: #0F7499 !important; color: white !important">
        <ng-template [ngTemplateOutlet]="matToolBar"></ng-template>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container" style="margin-top: 2px">
        <mat-sidenav #snav 
            [mode]="mobileQuery.matches ? 'over' : 'side'" 
            class="sidenav"
            fixedTopGap="20"
            [opened]="true"
        >
            <ng-template [ngTemplateOutlet]="listOfSidenav"></ng-template>
        </mat-sidenav>
        <mat-sidenav-content style="background-image: url('../../../../assets/admin/fondo.svg'); background-size: cover; font-family: 'Montserrat, cursive';">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>


<ng-template #matToolBar>
    <div class="row align-items-center w-100">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-1 text-center px-0">
                    <img src="../../../../assets/admin/unionvet.svg">
                </div>
                <div class="col-2 px-0">
                    <h1 class="text-white pt-2" style="font-family: 'Comfortaa', cursive; font-size: 35px;">Unionvet</h1>
                </div>
                <div class="col ps-0">
                    <button mat-mini-fab color="white" (click)="snav.toggle()" #buttonNav style="color: #0F7499">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-2 text-end">
            <button  mat-raised-button class="font-brand" style="color: #0F7499 !important; background-color: white !important"
                (click)="logOut()"
            >Cerrar sesión</button>
        </div>
    </div>
</ng-template>

<ng-template #listOfSidenav>
    <div class="container-fluid sidenav h-100 p-0" style="min-width: 250px; background-color: #0F7499; color: white;">
        <div class="row" style="max-width: 262px;">
            <div class="col p-0">
                <mat-selection-list [multiple]="false" (selectionChange)="changeValue($event)">
                    <mat-accordion style="background-color: #0F7499; border: none;">
                        <ng-container *ngFor="let option of options">
                            <mat-expansion-panel hideToggle style="background-color: #0F7499;" *ngIf="!(option.name === 'Resumen' || option.name === 'Contratos'); else isAnother">
                                <mat-expansion-panel-header class="p-0" style="background: none">
                                    <mat-panel-title class="m-0">
                                        <mat-list-option 
                                            [value]="option.name" 
                                            [ngStyle]="{'background-color': optionSelected === option.name ? 'rgba(255, 255, 255, 0.5)' : ''}"
                                        >
                                            <div class="row text-white pt-3">
                                                <div class="col-1">
                                                    <div [ngSwitch]="getIcon(option.name)">
                                                        <div *ngSwitchCase="'book'">
                                                            <mat-icon *ngIf="lengthDates > 0"  matBadge="{{lengthDates}}" matBadgeColor="warn">{{getIcon(option.name)}}</mat-icon>
                                                            <mat-icon *ngIf="lengthDates <= 0">{{getIcon(option.name)}}</mat-icon>
                                                        </div>
                                                        <div *ngSwitchCase="'help'">
                                                            <mat-icon *ngIf="lengthContact > 0"  matBadge="{{lengthContact}}" matBadgeColor="warn">{{getIcon(option.name)}}</mat-icon>
                                                            <mat-icon *ngIf="lengthContact <= 0">{{getIcon(option.name)}}</mat-icon>
                                                        </div>
                                                        <div *ngSwitchCase="'dynamic_feed'">
                                                            <mat-icon *ngIf="lengthPublications > 0"  matBadge="{{lengthPublications}}" matBadgeColor="warn">{{getIcon(option.name)}}</mat-icon>
                                                            <mat-icon *ngIf="lengthPublications <= 0">{{getIcon(option.name)}}</mat-icon>
                                                        </div>
                                                        <div *ngSwitchCase="'person'">
                                                            <mat-icon *ngIf="leengthUsersNot > 0"  matBadge="{{leengthUsersNot}}" matBadgeColor="warn">{{getIcon(option.name)}}</mat-icon>
                                                            <mat-icon *ngIf="leengthUsersNot <= 0">{{getIcon(option.name)}}</mat-icon>
                                                        </div>
                                                        <div *ngSwitchDefault>
                                                            <mat-icon>{{getIcon(option.name)}}</mat-icon>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col ps-4">
                                                    <p>{{option.name}}</p>
                                                </div>
                                            </div>
                                        </mat-list-option>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ng-template matExpansionPanelContent class="p-0">
                                    <mat-selection-list 
                                        [multiple]="false" 
                                        (selectionChange)="changeValue($event)"
                                        class="p-0"
                                    >
                                        <mat-list-option
                                            (click)="goTo(optionSelected, subcategory)"
                                            *ngFor="let subcategory of option.subcategories" 
                                            [value]="subcategory" 
                                            class="p-0"
                                            [ngStyle]="{'background-color': optionSelected === subcategory ? 'rgba(255, 255, 255, 0.5)' : '', 'border-radius': optionSelected === subcategory? '10px' : ''}"
                                        >
                                            <div class="row text-white pt-2 p-0 align-items-center">
                                                <div class="col-1">
                                                    <mat-icon>{{getIcon(subcategory)}}</mat-icon>
                                                </div>
                                                <div class="col ps-4 pt-2 pe-0">
                                                    <p>{{subcategory}}</p>
                                                </div>
                                            </div>
                                        </mat-list-option>
                                    </mat-selection-list>
                                </ng-template>
                            </mat-expansion-panel>
                            <ng-template #isAnother>
                                <mat-list-option
                                    (click)="goTo(optionSelected)"
                                    [value]="option.name" 
                                    [ngStyle]="{'background-color': optionSelected === option.name ? 'rgba(255, 255, 255, 0.5)' : ''}"
                                >
                                    <div class="row text-white pt-3">
                                        <div class="col-1">
                                            <mat-icon>{{getIcon(option.name)}}</mat-icon>
                                        </div>
                                        <div class="col ps-4">
                                            <p>{{option.name}}</p>
                                        </div>
                                    </div>
                                </mat-list-option>
                            </ng-template>
                        </ng-container>
                    </mat-accordion>
                </mat-selection-list>
            </div>
        </div>
    </div>
</ng-template>