<div class="container-fluid" style="box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.5); border-radius: 30px; background: rgba(255, 255, 255, 0.9);">
    <div class="row py-2 align-items-center">
        <div class="col text-start ps-3 pt-2 pb-0">
            <h5 *ngIf="getScreenSize() > 1470"
                style="font-family: 'Roboto'; font-weight: 200;"
            >Atenciones de la semana</h5>
            <h6 
                *ngIf="getScreenSize() <= 1470"
                style="font-family: 'Roboto'; font-weight: 200;"
            >Atenciones de la semana</h6>
        </div>
        <div class="col text-end">
            <button mat-raised-button disabled
                style="background-color: #0F7499; color: white; font-weight: 200; font-family: 'Roboto';"
            >
                {{rango}}
            </button>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col">
            <div class="chart">
                <canvas baseChart
                    *ngIf="getScreenSize() > 1440"
                    height="130"
                    [datasets]="chartData"
                    [labels]="chartLabels"
                    [chartType]="chartType"
                    [options]="chartOptions"
                    [legend]="chartLegends"
                ></canvas>
                <canvas baseChart
                    *ngIf="getScreenSize() <= 1440"
                    height="220"
                    [datasets]="chartData"
                    [labels]="chartLabels"
                    [chartType]="chartType"
                    [options]="chartOptions"
                    [legend]="chartLegends"
                ></canvas>
            </div>
        </div>
    </div>
</div>