<div class="container-fluid" style="box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.5); border-radius: 30px; background: rgba(255, 255, 255, 0.9);">
    <div class="row py-2 align-items-center">
        <div class="col-8 text-start ps-3 pt-2 pb-0">
            <h3 
                *ngIf="getScreenSize() > 1815"
                style="font-family: 'Roboto'; font-weight: 200;"
            >Atenciones de la semana</h3>
            <h4 
                *ngIf="getScreenSize() <= 1815 && getScreenSize() > 1645"
                style="font-family: 'Roboto'; font-weight: 200;"
            >Atenciones de la semana</h4>
            <h5 
                *ngIf="getScreenSize() <= 1645 && getScreenSize() > 1470"
                style="font-family: 'Roboto'; font-weight: 200;"
            >Atenciones de la semana</h5>
            <h6 
                *ngIf="getScreenSize() <= 1470"
                style="font-family: 'Roboto'; font-weight: 200;"
            >Atenciones de la semana</h6>
        </div>
        <div class="col-4 text-end">
            <button mat-raised-button style="background-color: #0F7499; color: white; font-weight: 200; font-family: 'Roboto';">Ver más</button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="col">Contenido</div>
    </div>
</div>