<div class="container-fluid mt-5 mx-4" style="box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.5); border-radius: 30px; z-index: 3010; background: rgba(255, 255, 255, 0.9);">
    <div class="row py-3 px-3">
        <div class="col text-start">
            <h1 *ngIf="getScreenSize() > 1440" style="font-family: 'Roboto'; font-weight: 100; user-select: none;">Listado de productos</h1>
            <h3 *ngIf="getScreenSize() <= 1440" style="font-family: 'Roboto'; font-weight: 100; user-select: none;">Listado de productos</h3>
        </div>
    </div>
    <div class="row px-5 pb-3">
        <div class="col ps-5 text-end"
            [ngStyle]="{'font-size': getScreenSize() > 1440 ? '20px' : '14px'}"
        >
            <strong style="font-family: 'Roboto'; user-select: none;">Fecha de hoy <span style="font-family: 'Roboto'; font-style: italic; font-weight: 200">[{{today | moment}}]</span></strong>
        </div>
    </div>
    <div class="row justify-content-center mx-3" style="background-color: #0F7499; border-radius: 20px; color: white">
        <div class="col">
            <admin-list-detail></admin-list-detail>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col"></div>
    </div>
</div>